input{
    border: none;
    font-size: 16px;
    height: 18px;
}

#profilePic{
    width: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

#file{
    padding: 8px;
}
.picture{
    display: flex;
    flex-direction: column;
    
}

.explaination{
    font-size: 12px;
    margin:0;
    color: #acacac;
    margin-top: 10px;
}

h4{
    margin-bottom:0;
    margin-top: 8px;
}

#setPic{
    display: flex;
    align-items: center;
}

.about{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 20px;
    column-gap: 30px;
    border: 1px solid #aec2b0;
    border-radius: 5px;
    padding: 16px;
    max-width: 1000px;
}

#profileButton{
    width: 200px;
}

#profile-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.info{
    display: flex;
    flex-direction: column;
}

.info input{
    text-overflow: ellipsis;
}

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 1024px){

    
}

@media only screen and (max-width: 768px){
    .about{
        grid-template-columns: repeat(2,1fr);
    }
    #setPic{
        flex-direction: column;
    }
    h4{
        width: 100%;
        text-align: left;
    }

}