<div class="wrap-to-center">
    <form class="form-container">
        <input type="password" class="form-input" [(ngModel)]="oldPassword" placeholder="Stara lozinka" name ="oldPassword">
        <input type="password" class="form-input" [(ngModel)]="newPassword" placeholder="Nova lozinka" name="newPassword">
        <input type="password" class="form-input" [(ngModel)]="newAgain" placeholder="Ponovljena nova lozinka" name="newAgain">
        <button (click)="change()" class="submit">Promeni lozinku</button>
        <p class="error">{{error}}</p>
    </form>
</div>
